tests/Timeless.DataConversion.Tests/TestData/Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="DCLG-HIP"
  xmlns:HIP="DCLG-HIP"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:element name="Address" type="HIP:AddressType" />

  <xs:complexType name="Inspector">
    <xs:sequence>
      <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Address" type="HIP:AddressType" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Street" type="xs:string" minOccurs="0" />
      <xs:element name="City" type="xs:string" minOccurs="0" />
      <xs:element name="Postcode" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
